.maegin {
    margin-top: 3em;
    margin-left: 5em;
    margin-right: 5em;
    justify-content: flex-start;
}

.institle {
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.innerins {
    /* margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em; */
    margin: 2em;    
    font-size: 14px;
}

.ach{
    font-family: monospace;
    color:  rgb(74, 76, 78) !important;
    font-weight: bold;
}

div.innerins p {
    /* Adjust margin or padding within paragraphs */
    margin-bottom: 1em;
  }

.stepnos {
    /* font-family: "Inter", sans-serif;
    color: rgb(74, 76, 78); */
    font-weight: bold;
    font-size: 18px;
}

.instruction {
    margin: 2em;
    font-family: "Inter", sans-serif;
    color: rgb(74, 76, 78);
    /* font-weight: bold; */
    font-size: 14px;
}

.insread {
    margin-top: 1em;
    font-family: "Inter", sans-serif;
    color: rgb(74, 76, 78);
    font-weight: bold;
    font-size: 17px;
}

.linkkk {
    position:fixed;
    top: 85%;
    bottom: 10%;
    right: 800px;
    left: 700px;
  }
  
.linkkk .hire {
    color: #f8f8f8;
    text-decoration: none;
    background: #ec1313;
    padding: 15px 25px;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.2s;
    position: fixed;
  }
  
  .linkkk .hire:hover {
    background-color: azure;
    border: 2px solid #020202;
    color: rgb(234, 9, 9);
  }
  .downl{
    color: #f8f8f8 !important;
    text-decoration: none;
    background: #ec1313;
    padding: 15px 25px;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.2s;
    margin-bottom: 50px;

  
  }
  .inss{
    margin-top: 50px;
    margin-left: 40px;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;

  }
  .inss li{
    margin-bottom: 10px;
  }